.hpipapi[class][class]{color:inherit;font-size:1em;font-weight:inherit;line-height:inherit;}

.dir.hpipapi[class][class]{margin:0;padding:0;}

.hpipapi[class][class]:focus{outline:0;}

.i1pmzyw7[class][class]{display:inline;}

.s12s7yzj[class][class]{contain:paint;}
.fz4xk0c[class][class]{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.fz4xk0c[class][class]{border:0;padding:0;margin-top:-1px;}

.p1psejvv[class][class]{display:contents;}
.o30qrr6[class][class]{z-index:2000;position:fixed;top:0;bottom:0;overflow-y:auto;-webkit-overflow-scrolling:touch;background:transparent;}

.dir.o30qrr6[class][class]{right:0;left:0;background:var(--f-k-smk-x);animation-duration:400ms;animation-iteration-count:1;animation-fill-mode:both;animation-name:overlayEnter-o30qrr6;}

@media (min-width:744px){
.dir.o30qrr6[class][class]{background:rgba(0,0,0,0.75);}}

@media (min-width:744px){
.dir.o30qrr6[class][class]{background:var(--f-k-smk-x);}}

@keyframes overlayEnter-o30qrr6{
0%{opacity:0;}

100%{opacity:0.6;}}

.dir.om9v1kz[class][class]{animation-name:overlayLeave-om9v1kz;}

@keyframes overlayLeave-om9v1kz{
0%{opacity:0.6;}

100%{opacity:0;}}
.c1h5tsj6[class][class]{-webkit-appearance:none;appearance:none;display:inline-block;border:0;outline:0;margin:-7px;padding:7px;color:buttontext;touch-action:manipulation;display:inline-block;position:relative;color:var(--f-k-smk-x);-webkit-transition:-webkit-transform 0.25s var(--itr-yy-z);outline:none;}

.dir.c1h5tsj6[class][class]{border-radius:50%;background-color:transparent;cursor:pointer;padding:0;margin:0;border:none;background:transparent;transition:transform 0.25s var(--itr-yy-z);}

.c1h5tsj6[class][class]:focus-visible{outline:none;}

.dir.c1h5tsj6[class][class]:focus-visible{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.c1h5tsj6[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1h5tsj6[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c1h5tsj6[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1h5tsj6[class][class]:focus-visible{transition:none;}}

.c1h5tsj6[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c1h5tsj6[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.c1h5tsj6[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1h5tsj6[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c1h5tsj6[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1h5tsj6[class][class]:focus[data-focus-visible-added]{transition:none;}}

.c1h5tsj6[class][class]:disabled{opacity:0.5;color:graytext;}

.dir.c1h5tsj6[class][class]:disabled{cursor:not-allowed;}

@media (prefers-reduced-motion:reduce){
.dir.c1h5tsj6[class][class]{transition:none;}}

@media (hover:hover){
.c1h5tsj6[class][class]:hover{color:var(--bgxgx);}

.dir.c1h5tsj6[class][class]:hover::before{background:var(---pc-g-v-g);}

.c1h5tsj6[class][class]:hover:disabled{color:var(--j-qkgmf);}

.dir.c1h5tsj6[class][class]:hover:disabled::before{background:transparent;}}

.c1h5tsj6[class][class]:active{color:var(--bgxgx);}

.dir.c1h5tsj6[class][class]:active{transform:scale(0.92);}

.dir.c1h5tsj6[class][class]:active::before{background:var(---pc-g-v-g);}

.dir.c1h5tsj6[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1h5tsj6[class][class]:focus::-moz-focus-inner{border:none;}

.c1h5tsj6[class][class]:-moz-focusring{outline:none;}

.dir.c1h5tsj6[class][class]:focus-visible{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1h5tsj6[class][class]:focus-visible{transition:none;}}

.dir.c1h5tsj6[class][class]:focus-visible::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.dir.c1h5tsj6[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1h5tsj6[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1h5tsj6[class][class]:focus[data-focus-visible-added]::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.c1h5tsj6[class][class]:disabled{color:var(--j-qkgmf);}

.dir.c1h5tsj6[class][class]:disabled::before{background:transparent;}

.c1h5tsj6[class][class]::before{content:'';display:block;position:absolute;top:50%;width:32px;height:32px;}

.dir.c1h5tsj6[class][class]::before{border-radius:50%;}

.dir-ltr.c1h5tsj6[class][class]::before{left:50%;transform:translate(-50%,-50%);}

.dir-rtl.c1h5tsj6[class][class]::before{right:50%;transform:translate(50%,-50%);}

.c1h5tsj6[class][class]::before{width:32px;height:32px;}

.i3tjjh1[class][class]{position:relative;}

.b14e81y7[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b14e81y7[class][class]:not(:focus){border:0;padding:0;}

.b1ad3d4a[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b1ad3d4a[class][class]:not(:focus){border:0;padding:0;}
.c11vnb9k[class][class]{position:absolute;display:flex;top:16px;z-index:1;}

.dir-ltr.c11vnb9k[class][class]{left:24px;}

.dir-rtl.c11vnb9k[class][class]{right:24px;}

@media (min-width:744px){
.c11vnb9k[class][class]{top:24px;}}
.c1k13iig[class][class]{z-index:2000;position:fixed;top:0;bottom:0;max-height:calc(var(--vh,1vh) * 100);display:flex;flex-direction:row;align-items:flex-end;justify-content:center;}

.dir.c1k13iig[class][class]{right:0;left:0;padding-top:calc(var(--b-y-unon) + env(safe-area-inset-top,0));}

@supports (max-height:-webkit-fill-available){
.c1k13iig[class][class]{max-height:max(-webkit-fill-available,calc(var(--vh,1vh) * 100));}}

@media (min-width:744px) and (min-height:475px){
.c1k13iig[class][class]{align-items:center;}

.dir.c1k13iig[class][class]{padding:40px;}}

@media screen and (-ms-high-contrast:active),screen and (-ms-high-contrast:none){
.c1k13iig[class][class]{align-items:stretch;}}

.di536pa[class][class]{background:white;overflow:clip;position:relative;width:100vw;max-width:100vw;max-height:100%;display:flex;flex-direction:column;}

.dir.di536pa[class][class]{background:var(--f-mkcy-f);box-shadow:var(--jx-b-v-zt);border-top-left-radius:var(--i-g-gvoq);border-top-right-radius:var(--i-g-gvoq);animation-duration:400ms;animation-iteration-count:1;animation-fill-mode:both;animation-name:slideEnter-di536pa;}

@supports not (overflow:clip){
.di536pa[class][class]{overflow:hidden;}}

.di536pa[class][class]:focus{outline:none;}

@media (min-width:744px){
.di536pa[class][class]{width:100%;max-width:568px;}

.dir.di536pa[class][class]{border-radius:var(--i-g-gvoq);}}

@keyframes slideEnter-di536pa{
0%{opacity:0;transform:translate(0,100%);}

100%{opacity:1;transform:none;}}

@media (prefers-reduced-motion:reduce){
.dir.di536pa[class][class]{animation-name:fadeEnter-di536pa;}

@keyframes fadeEnter-di536pa{
0%{opacity:0;}

100%{opacity:1;}}}

@media (min-width:744px){
.di536pa[class][class]{max-width:1032px;}}

.dir.d1nfxl95[class][class]{animation-name:slideLeave-d1nfxl95;}

@keyframes slideLeave-d1nfxl95{
0%{opacity:1;transform:none;}

100%{opacity:0;transform:translate(0,100%);}}

@media (prefers-reduced-motion:reduce){
.dir.d1nfxl95[class][class]{animation-name:fadeLeave-d1nfxl95;}

@keyframes fadeLeave-d1nfxl95{
0%{opacity:1;}

100%{opacity:0;}}}
.c1ekx876[class][class]{white-space:nowrap;position:absolute;top:50%;}

.dir.c1ekx876[class][class]{margin-top:0;margin-bottom:0;margin-left:auto;margin-right:auto;text-align:center;}

.dir-ltr.c1ekx876[class][class]{left:50%;transform:translateX(-50%) translateY(-50%);}

.dir-rtl.c1ekx876[class][class]{right:50%;transform:translateX(50%) translateY(-50%);}

.d8hxv33[class][class]{background-color:black;width:6px;height:6px;display:inline-block;vertical-align:middle;}

.dir.d8hxv33[class][class]{border-radius:100%;animation-name:dot-d8hxv33;animation-duration:0.8s;animation-iteration-count:infinite;animation-timing-function:linear;animation-fill-mode:both;background-color:var(--f-k-smk-x);}

.dir-ltr.d8hxv33[class][class]{margin-right:4px;margin-left:0;}

.dir-rtl.d8hxv33[class][class]{margin-left:4px;margin-right:0;}

@keyframes dot-d8hxv33{
0%,80%,100%{opacity:0;}

30%,50%{opacity:1;}}

.dir.dvzvf89[class][class]{animation-delay:-0.3s;}

.dir.dsos5xv[class][class]{animation-delay:-0.15s;}

.dir-ltr.demy39h[class][class]{margin-right:0;}

.dir-rtl.demy39h[class][class]{margin-left:0;}
