.b10ehcmw[class][class]{color:var(--f-k-smk-x);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);}

.dprd1az[class][class]{display:flex;flex-direction:column;gap:var(--f-fw-z-a-i);}

.s12lesg1[class][class]{font-weight:var(--h-oqhch);font-size:var(--cv-p-u-ui);line-height:var(--hu-t-o-g-n);}

.dir.emqzbzm[class][class]{margin-top:var(--ikx-k-pe);}

.c1tbmhq3[class][class]{display:flex;flex-direction:column;gap:var(--ikx-k-pe);}

@media (min-width:950px){
.c1tbmhq3[class][class]{gap:var(--bio-wide-gap,var(--f-fw-z-a-i));}}

.h1ae1mdj[class][class]{display:flex;flex-direction:column;gap:var(--bio-wide-gap,var(--kksqe-v));}

@media (min-width:1440px){
.ayux69[class][class]{width:var(--bio-about-width,85%);}}

.st0ww9l[class][class]{display:none;}

@media (min-width:744px){
.st0ww9l[class][class]{display:var(--show-on-wide-display,block);}}

.s1twrx74[class][class]{display:none;}

@media (min-width:950px){
.s1twrx74[class][class]{display:var(--show-on-wide-display,block);}}

@media (min-width:744px){
.h15svmt3[class][class]{display:var(--hide-on-wide-display,none);}}

@media (min-width:950px){
.hfti8az[class][class]{display:var(--hide-on-wide-display,none);}}
.b1p20n7u[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.b1p20n7u[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.b1p20n7u[class][class]:disabled{opacity:0.3;}

.dir.b1p20n7u[class][class]:disabled{cursor:not-allowed;}

.c1n3e6jn[class][class]{font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--jx-zk-pv);outline:none;padding-top:14px;padding-bottom:14px;padding-left:24px;padding-right:24px;-webkit-transition:box-shadow 0.2s var(--itr-yy-z),-webkit-transform 0.1s var(--itr-yy-z);-webkit-tap-highlight-color:transparent;color:var(--f-k-smk-x);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);padding-top:8px;padding-bottom:8px;padding-left:16px;padding-right:16px;}

.dir.c1n3e6jn[class][class]{border-radius:var(--go-h-jh-l);border-width:1px;border-style:solid;transition:box-shadow 0.2s var(--itr-yy-z),transform 0.1s var(--itr-yy-z);border-color:var(--f-k-smk-x);background:var(--f-mkcy-f);padding-top:7px;padding-bottom:7px;padding-left:15px;padding-right:15px;}

@media (prefers-reduced-motion:reduce){
.dir.c1n3e6jn[class][class]{transition:none;}}

.c1n3e6jn[class][class]:focus-visible{outline:none;}

.dir.c1n3e6jn[class][class]:focus-visible{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1n3e6jn[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1n3e6jn[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c1n3e6jn[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1n3e6jn[class][class]:focus-visible{transition:none;}}

.c1n3e6jn[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c1n3e6jn[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1n3e6jn[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1n3e6jn[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c1n3e6jn[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1n3e6jn[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1n3e6jn[class][class]:active{transform:scale(0.96);}

.c1n3e6jn[class][class]:disabled{opacity:1;}

.c1n3e6jn[class][class]:focus-visible{color:var(--f-k-smk-x);}

.dir.c1n3e6jn[class][class]:focus-visible{border-color:var(--f-k-smk-x);box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);}

.c1n3e6jn[class][class]:focus[data-focus-visible-added]{color:var(--f-k-smk-x);}

.dir.c1n3e6jn[class][class]:focus[data-focus-visible-added]{border-color:var(--f-k-smk-x);box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);}

@media (hover:hover){
.c1n3e6jn[class][class]:hover{color:var(--f-k-smk-x);}

.dir.c1n3e6jn[class][class]:hover{border-color:var(--bgxgx);background:var(---pc-g-v-g);}

.c1n3e6jn[class][class]:hover:disabled{color:var(--j-qkgmf);}

.dir.c1n3e6jn[class][class]:hover:disabled{border-color:var(--j-qkgmf);background:var(--f-mkcy-f);}}

.c1n3e6jn[class][class]:active{color:var(--f-k-smk-x);}

.dir.c1n3e6jn[class][class]:active{border-color:var(--bgxgx);background:var(---pc-g-v-g);}

.c1n3e6jn[class][class]:disabled{color:var(--j-qkgmf);}

.dir.c1n3e6jn[class][class]:disabled{border-color:var(--j-qkgmf);background:var(--f-mkcy-f);}

.f1ke9jfs[class][class]{width:100%;}

.s1s33btj[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.s1s33btj[class][class]:not(:focus){border:0;padding:0;}
.b1uxatsa[class][class]{font-size:inherit;font-family:inherit;font-weight:inherit;font-style:inherit;font-feature-settings:inherit;font-variant:inherit;line-height:inherit;color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

@media (hover:hover){
.b1uxatsa[class][class]:hover{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.dir.b1uxatsa[class][class]:hover{cursor:pointer;}}

.b1uxatsa[class][class]:focus{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.fzd8srm[class][class]{width:100%;display:block;}

.s8bhioi[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.s8bhioi[class][class]:not(:focus){border:0;padding:0;}

.c1qih7tm[class][class]{-webkit-appearance:none;appearance:none;-webkit-user-select:auto;user-select:auto;color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;font-weight:var(--jx-zk-pv);position:relative;outline:none;}

.dir.c1qih7tm[class][class]{background:transparent;border:0;cursor:pointer;margin:0;padding:0;border-radius:var(--h-l-f-om-o);text-align:inherit;}

.dir.c1qih7tm[class][class]:disabled{cursor:not-allowed;}

@media (hover:hover){
.c1qih7tm[class][class]:disabled:hover{-webkit-text-decoration:none;text-decoration:none;}}

.c1qih7tm[class][class]:visited{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;}

@media (hover:hover){
.c1qih7tm[class][class]:hover{color:var(--bgxgx);-webkit-text-decoration:underline;text-decoration:underline;}

.c1qih7tm[class][class]:hover:disabled{color:var(--j-qkgmf);-webkit-text-decoration:underline;text-decoration:underline;}

.c1qih7tm[class][class]:hover:disabled:hover{-webkit-text-decoration:underline;text-decoration:underline;}}

.c1qih7tm[class][class]:active{color:var(--fo-jk-r-s);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.c1qih7tm[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1qih7tm[class][class]:focus::-moz-focus-inner{border:none;}

.c1qih7tm[class][class]:-moz-focusring{outline:none;}

.c1qih7tm[class][class]:focus-visible{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.c1qih7tm[class][class]:focus-visible{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c1qih7tm[class][class]:focus-visible{transition:none;}}

.c1qih7tm[class][class]:focus[data-focus-visible-added]{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.c1qih7tm[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c1qih7tm[class][class]:focus[data-focus-visible-added]{transition:none;}}

.c1qih7tm[class][class]:disabled{color:var(--j-qkgmf);-webkit-text-decoration:underline;text-decoration:underline;}

.c1qih7tm[class][class]:disabled:hover{-webkit-text-decoration:underline;text-decoration:underline;}
.c1sle299[class][class]{display:flex;flex-direction:column;gap:var(--jhzm-v-t);}

.t1bfd316[class][class]{font-size:var(--y-g-ar-y);line-height:var(--cb-pewj);}

.h1gjbe6[class][class]{line-height:var(--ikx-k-pe);overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:7;word-wrap:break-word;white-space:normal;}

@supports (overflow:clip){
.h1gjbe6[class][class]{overflow:clip;}}
.cyjz9ej[class][class]{display:flex;flex-direction:column;gap:var(--ikx-k-pe);}

.f1xwdm5q[class][class]{display:grid;gap:var(--jaa-ni-h) var(--ikx-k-pe);grid-template-columns:1fr;align-items:stretch;}

@media (min-width:1128px){
.f1xwdm5q[class][class]{grid-template-columns:var(--bio-info-grid-template-columns,repeat(2,1fr));}}

.i1qp6edg[class][class]{line-height:20px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}

@supports (overflow:clip){
.i1qp6edg[class][class]{overflow:clip;}}
.r1kxx2et[class][class]{display:flex;align-items:flex-start;gap:var(--b-y-unon);}

.t1chcso6[class][class]{flex:1 1 0;font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);}

.dir.t1chcso6[class][class]{padding:var(--d-b-mrdy) 0;}
.rttchhj[class][class]{color:var(--f-k-smk-x);display:flex;}

.iqq6mve[class][class]{display:flex;align-items:center;height:var(--f-l-h-bac);}

.dir-ltr.iqq6mve[class][class]{margin-right:var(--h-x-sf-jw);}

.dir-rtl.iqq6mve[class][class]{margin-left:var(--h-x-sf-jw);}

.c1nfnia0[class][class]{flex:1 1 0;font-size:var(--f-cv-j-j-p);line-height:var(--f-l-h-bac);}

.bxjyo6n[class][class]{font-size:inherit;font-family:inherit;font-weight:inherit;font-style:inherit;font-feature-settings:inherit;font-variant:inherit;line-height:inherit;color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

@media (hover:hover){
.bxjyo6n[class][class]:hover{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.dir.bxjyo6n[class][class]:hover{cursor:pointer;}}

.bxjyo6n[class][class]:focus{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.fqpuydy[class][class]{width:100%;display:block;}

.s1jvcojr[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.s1jvcojr[class][class]:not(:focus){border:0;padding:0;}

.c172vw3a[class][class]{-webkit-appearance:none;appearance:none;-webkit-user-select:auto;user-select:auto;color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;font-weight:var(--jx-zk-pv);position:relative;outline:none;color:var(--f-k-smk-x);}

.dir.c172vw3a[class][class]{background:transparent;border:0;cursor:pointer;margin:0;padding:0;border-radius:var(--h-l-f-om-o);text-align:inherit;}

.dir.c172vw3a[class][class]:disabled{cursor:not-allowed;}

@media (hover:hover){
.c172vw3a[class][class]:disabled:hover{-webkit-text-decoration:none;text-decoration:none;}}

.c172vw3a[class][class]:visited{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;}

@media (hover:hover){
.c172vw3a[class][class]:hover{color:var(--bgxgx);-webkit-text-decoration:underline;text-decoration:underline;}

.c172vw3a[class][class]:hover:disabled{color:var(--j-qkgmf);-webkit-text-decoration:underline;text-decoration:underline;}

.c172vw3a[class][class]:hover:disabled:hover{-webkit-text-decoration:underline;text-decoration:underline;}}

.c172vw3a[class][class]:active{color:var(--fo-jk-r-s);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.c172vw3a[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c172vw3a[class][class]:focus::-moz-focus-inner{border:none;}

.c172vw3a[class][class]:-moz-focusring{outline:none;}

.c172vw3a[class][class]:focus-visible{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.c172vw3a[class][class]:focus-visible{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c172vw3a[class][class]:focus-visible{transition:none;}}

.c172vw3a[class][class]:focus[data-focus-visible-added]{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.c172vw3a[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c172vw3a[class][class]:focus[data-focus-visible-added]{transition:none;}}

.c172vw3a[class][class]:disabled{color:var(--j-qkgmf);-webkit-text-decoration:underline;text-decoration:underline;}

.c172vw3a[class][class]:disabled:hover{-webkit-text-decoration:underline;text-decoration:underline;}
