.a_9{position:absolute;}

.a_k6{top:18px;}

.dir-ltr.a_gx{left:12px;}

.dir-rtl.a_gx{right:12px;}

.dir-ltr.a_io{right:12px;}

.dir-rtl.a_io{left:12px;}

.dir.a_a{margin:0;}

.dir.a_r{padding:0;}

.a_1k{color:black;}

.a_25{pointer-events:none;}

.dir-ltr.a_ch{transform-origin:0% 0%;}

.dir-rtl.a_ch{transform-origin:100% 0%;}

.a_3p{max-width:100%;}

.a_8{overflow:hidden;}

.a_22{text-overflow:ellipsis;}

.a_1y{white-space:nowrap;}

.a_k7{width:calc(133.33333333333334% - 32px);}

.dir.a_k8{transform:translateY(-8px) scale(0.75);}

.a_c2{color:red;}
.m1ec1bsa[class][class]{display:flex;flex-direction:column;justify-content:center;flex:1 1 auto;width:100%;}
.dir.rten07p[class][class]{padding-top:24px;padding-bottom:24px;border-radius:1px;}

.dir.c1xmq7ds[class][class]{padding-top:16px;padding-bottom:16px;}

.dir.u10sjbai[class][class]{padding-top:8px;padding-bottom:8px;}

.dir.u17wc0pd[class][class]{padding-top:0;padding-bottom:0;}

.dir.d1ostam4[class][class]{cursor:not-allowed;}
.twad414[class][class]{color:var(--f-k-smk-x);font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);}

.dir.twad414[class][class]{cursor:inherit;}

.djucpmj[class][class]{color:var(--j-qkgmf);}

.m1wcrvl4[class][class]{font-weight:var(--jx-zk-pv);}
.f16mr5nx[class][class]{display:flex;}
.s9gst5p[class][class]{color:var(--fo-jk-r-s);font-family:var(--e-ls-qkw);word-break:break-word;font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.dir.s9gst5p[class][class]{margin-top:4px;}

.dir.u7bl2ld[class][class]{margin-top:2px;}

.d1nv1pxb[class][class]{color:var(--j-qkgmf);}
.l1bm6uz3[class][class]{position:absolute;top:18px;color:black;pointer-events:none;transform-origin:0% 0%;font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--e-y-j-d-v-j);color:var(--fo-jk-r-s);-webkit-transition:-webkit-transform 0.15s cubic-bezier(0.455,0.03,0.515,0.955);}

.dir.l1bm6uz3[class][class]{left:12px;right:12px;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;transition:transform 0.15s cubic-bezier(0.455,0.03,0.515,0.955);}

.dir-ltr.l1bm6uz3[class][class]{transform-origin:0% 0%;}

.dir-rtl.l1bm6uz3[class][class]{transform-origin:100% 0%;}

.l12j3uvm[class][class]{max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.l18aghfq[class][class]{color:var(--j-qkgmf);}

.l6fh4mc[class][class]{width:calc(133.33333333333334% - 32px);font-weight:var(--e-y-j-d-v-j);}

.dir.l6fh4mc[class][class]{transform:translateY(-8px) scale(0.75);}

.l1mca3m8[class][class]{color:red;font-weight:var(--h-oqhch);color:var(--k-va-tnc);}
.c1rg65t0[class][class]{position:relative;display:flex;min-height:56px;width:100%;color:black;background-color:white;color:var(--f-k-smk-x);font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--e-y-j-d-v-j);}

.dir.c1rg65t0[class][class]{cursor:text;margin:0;border:none;border-radius:var(--go-h-jh-l);box-shadow:inset 0 0 0 1px var(--iw-ihca);background-color:var(--f-mkcy-f);transition:box-shadow 150ms var(--e-usyia);}

.l1haq8x4[class][class]{display:flex;align-items:center;max-width:50%;white-space:nowrap;}

.dir-ltr.l1haq8x4[class][class]{padding-left:12px;}

.dir-rtl.l1haq8x4[class][class]{padding-right:12px;}

.it3ysxn[class][class]{position:relative;flex:1;}

.dir.it3ysxn[class][class]{padding:0;}

.t1k4waxj[class][class]{display:flex;align-items:center;justify-content:center;max-width:50%;min-width:36px;overflow:hidden;white-space:nowrap;overflow:visible;}

.dir-ltr.t1k4waxj[class][class]{padding-left:0;padding-right:12px;}

.dir-rtl.t1k4waxj[class][class]{padding-right:0;padding-left:12px;}

.i1vtfp57[class][class]{display:flex;opacity:0;}

.i1j92w9y[class][class]{opacity:1;}

.ilqe6eg[class][class]{opacity:1;}

.i1ud6v05[class][class]{opacity:1;}

.dir-ltr.icru09g[class][class]{padding-left:12px;margin-right:-6px;}

.dir-rtl.icru09g[class][class]{padding-right:12px;margin-left:-6px;}

.dir.i1af8x53[class][class]{padding-top:26px;}

.i1o2p44h[class][class]{color:var(--fo-jk-r-s);}

.s1pt5mda[class][class]{width:100%;position:absolute;overflow:hidden;white-space:nowrap;pointer-events:none;}

.dir.s1pt5mda[class][class]{padding-top:26px;}

.dir-ltr.s1pt5mda[class][class]{left:0;}

.dir-rtl.s1pt5mda[class][class]{right:0;}

.sqgvz1y[class][class]{display:inline-block;visibility:hidden;}

.dir-ltr.sqgvz1y[class][class]{padding-left:12px;margin-right:6px;}

.dir-rtl.sqgvz1y[class][class]{padding-right:12px;margin-left:6px;}

.s1vfty38[class][class]{color:var(--fo-jk-r-s);}

.s192pnoa[class][class]{display:none;}

.icqyia[class][class]{width:100%;outline:none;color:inherit;font-family:inherit;font-size:inherit;font-weight:inherit;line-height:inherit;-webkit-appearance:none;}

.dir.icqyia[class][class]{border:none;padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;margin-left:12px;margin-right:12px;margin-top:26px;margin-bottom:6px;background-color:transparent;}

.dir.icqyia[class][class]:-webkit-autofill{-webkit-box-shadow:0 0 0 30px white inset;}

.dir.icqyia[class][class]:-webkit-autofill:hover{-webkit-box-shadow:0 0 0 30px white inset;}

.dir.icqyia[class][class]:-webkit-autofill:focus{-webkit-box-shadow:0 0 0 30px white inset;}

.dir.icqyia[class][class]:-webkit-autofill:active{-webkit-box-shadow:0 0 0 30px white inset;}

.icqyia[class][class]::-ms-clear{display:none;}

.icqyia[class][class]::placeholder{color:var(--fo-jk-r-s);opacity:1;}

.icqyia[class][class]:focus{color:var(--f-k-smk-x);}

.icqyia[class][class]::-webkit-inner-spin-button{-webkit-appearance:none;appearance:none;}

.dir.icqyia[class][class]::-webkit-inner-spin-button{margin:0;}

.dir.ix1gouk[class][class]{cursor:not-allowed;}

.c15umtem[class][class]{outline:none;}

.dir.c15umtem[class][class]{box-shadow:inset 0 0 0 2px var(--f-k-smk-x);}

.c1e4wa11[class][class]{opacity:0.3;opacity:1;color:var(--j-qkgmf);-webkit-text-fill-color:var(--j-qkgmf);}

.dir.c1e4wa11[class][class]{cursor:not-allowed;background-color:var(---pc-g-v-g);box-shadow:inset 0 0 0 1px var(--d-nc-lt-s);}

.c1nk3e4r[class][class]{color:red;color:var(--f-k-smk-x);}

.dir.c1nk3e4r[class][class]{box-shadow:inset 0 0 0 1px var(--k-va-tnc);background-color:var(--f-p-k-v-lb);}

.c1ltbvie[class][class]{background-color:white;box-shadow:inset 0 0 0 2px red;}

.dir.c1ltbvie[class][class]{background-color:var(--f-mkcy-f);box-shadow:inset 0 0 0 2px var(--k-va-tnc);}

.bkl6b1x[class][class]{display:flex;gap:16px 16px;flex-wrap:wrap;}

@media (min-width:300px){
.bkl6b1x[class][class]{flex-wrap:unset;}}

.c1dk9sjy[class][class]{gap:8px 16px;}

.u1uu3zgh[class][class]{gap:4px 16px;}
.c1lld2y9[class][class]{position:relative;display:inline-block;}

.dir.c1lld2y9[class][class]{cursor:pointer;padding:0;}

.h1ys37xu[class][class]{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;-webkit-clip:unset;clip:unset;-webkit-clip-path:unset;clip-path:unset;opacity:0;outline:none;}

.dir.h1ys37xu[class][class]{border:0;padding:0;margin:0;}

.h1ys37xu[class][class]:focus + [data-checkbox]{z-index:1;}

.dir.h1ys37xu[class][class]:disabled + [data-checkbox]{cursor:not-allowed;}

.dir.h1ys37xu[class][class]:hover + [data-checkbox]{border-color:var(--f-k-smk-x);}

.dir.h1ys37xu[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.h1ys37xu[class][class]:focus::-moz-focus-inner{border:none;}

.h1ys37xu[class][class]:-moz-focusring{outline:none;}

.dir.h1ys37xu[class][class]:focus-visible:focus-visible + [data-checkbox]{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px #ffffff,0 0 0 4px var(--f-k-smk-x);border-color:var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.h1ys37xu[class][class]:focus-visible:focus-visible + [data-checkbox]{transition:none;}}

.dir.h1ys37xu[class][class]:focus[data-focus-visible-added]:focus-visible + [data-checkbox]{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px #ffffff,0 0 0 4px var(--f-k-smk-x);border-color:var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.h1ys37xu[class][class]:focus[data-focus-visible-added]:focus-visible + [data-checkbox]{transition:none;}}

.dir.h1ys37xu[class][class]:disabled + [data-checkbox]{background:var(---pc-g-v-g);border-color:var(--d-nc-lt-s);}

.c1dz1hqo[class][class]{display:inline-block;border-color:black;height:24px;width:24px;background:white;overflow:hidden;vertical-align:top;}

.dir.c1dz1hqo[class][class]{border-width:1px;border-style:solid;text-align:center;border-radius:var(--h-l-f-om-o);border-color:var(--iw-ihca);background:var(--f-mkcy-f);}

.czp1hii[class][class]{display:flex;align-items:center;justify-content:center;width:100%;height:100%;display:block;color:var(--f-mkcy-f);}

.dir.czp1hii[class][class]{margin-top:2px;}

.dir-ltr.czp1hii[class][class]{margin-left:3px;}

.dir-rtl.czp1hii[class][class]{margin-right:3px;}

.hzn0lbi[class][class]:disabled + [data-checkbox]{color:white;}

.dir.hzn0lbi[class][class]:disabled + [data-checkbox]{background:black;border-color:black;}

.dir.hzn0lbi[class][class]:hover + [data-checkbox]{border-color:var(--bgxgx);background:var(--bgxgx);}

.hzn0lbi[class][class]:disabled + [data-checkbox]{color:var(--f-mkcy-f);}

.dir.hzn0lbi[class][class]:disabled + [data-checkbox]{border-color:var(--j-qkgmf);background:var(--j-qkgmf);}

.ccysu5p[class][class]{background:black;color:white;border-color:black;color:var(--f-mkcy-f);}

.dir.ccysu5p[class][class]{background:var(--f-k-smk-x);border-color:var(--f-k-smk-x);}

.ci7wjye[class][class]{background:red;color:black;border-color:red;color:var(--f-k-smk-x);}

.dir.ci7wjye[class][class]{background:var(--f-p-k-v-lb);border-color:var(--k-va-tnc);}

.dir.h1i7xdpo[class][class]:hover + [data-checkbox]{border-color:var(--cnr-vp-o);}

.dir.h1i7xdpo[class][class]:focus-visible{border-color:var(--k-va-tnc);}

.dir.h1i7xdpo[class][class]:focus[data-focus-visible-added]{border-color:var(--k-va-tnc);}

.c1shbfd6[class][class]{color:var(--f-mkcy-f);}

.dir.c1shbfd6[class][class]{background:var(--k-va-tnc);border-color:var(--k-va-tnc);}

.dir.hxsvi8v[class][class]:hover + [data-checkbox]{background:var(--cnr-vp-o);border-color:var(--cnr-vp-o);}
