.s6ytrwv[class][class]{overflow-y:auto;}
.a_d{display:inline-block;}

.dir.a_p{cursor:pointer;}

.dir.a_q{text-align:center;}

.dir.a_2i{border:1px solid black;}

.dir.a_3s[class]{background-color:white;}

.a_b{outline:none;}

.dir.a_r{padding:0;}

.dir.a_a{margin:0;}

.dir.a_6l[class]{background-color:black;}

.a_bj{color:white;}

.dir.a_48{cursor:not-allowed;}

.dir.a_hl[class]{background-color:pink;}

.dir.a_ij{border:1px solid red;}

.dir.a_2g{border:0;}

.a_58{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);}

.a_5h{-webkit-clip-path:inset(100%);clip-path:inset(100%);}

.a_3m{height:1px;}

.a_8{overflow:hidden;}

.a_2d{overflow:clip;}

.a_9{position:absolute;}

.a_1y{white-space:nowrap;}

.a_4h{width:1px;}

.a_u{display:block;}

.a_37[class]{flex-grow:0;}

.a_2x[class]{flex-shrink:0;}

.a_0{display:flex;}

.a_4[class]{align-items:center;}

.a_c[class]{justify-content:center;}
