.h11o5x9p[class][class]{display:flex;flex:0 0 auto;align-items:center;justify-content:space-between;padding-top:0;padding-bottom:0;padding-left:0;padding-right:0;min-height:48px;color:var(--f-k-smk-x);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--h-oqhch);}

.dir.h11o5x9p[class][class]{border-bottom:1px solid var(--d-nc-lt-s);padding-top:0;padding-bottom:0;padding-left:24px;padding-right:24px;}

@media (min-width:744px){
.h11o5x9p[class][class]{min-height:64px;}}

.lwzxwjg[class][class]{flex-grow:0;flex-shrink:0;flex-basis:16px;}

.dir-ltr.lwzxwjg[class][class]{text-align:left;}

.dir-rtl.lwzxwjg[class][class]{text-align:right;}

.cbq526p[class][class]{overflow:hidden;flex-grow:0;flex-shrink:1;flex-basis:auto;}

.dir.cbq526p[class][class]{text-align:center;margin-left:16px;margin-right:16px;}

.e1p58pdz[class][class]{overflow:hidden;text-overflow:ellipsis;}

.t15g2kft[class][class]{flex-grow:0;flex-shrink:0;flex-basis:16px;}

.dir-ltr.t15g2kft[class][class]{text-align:right;}

.dir-rtl.t15g2kft[class][class]{text-align:left;}
.hpipapi[class][class]{color:inherit;font-size:1em;font-weight:inherit;line-height:inherit;}

.dir.hpipapi[class][class]{margin:0;padding:0;}

.hpipapi[class][class]:focus{outline:0;}

.i1pmzyw7[class][class]{display:inline;}

.s12s7yzj[class][class]{contain:paint;}
