.canm9xs[class][class]{height:32px;position:relative;min-width:48px;width:48px;outline:none;}

.dir.canm9xs[class][class]{border-radius:32px;border-style:solid;border-width:1px;cursor:pointer;}

.dir.canm9xs[class][class]:disabled{background-color:lightgrey;border-color:lightgrey;cursor:not-allowed;}

.dir.canm9xs[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.canm9xs[class][class]:focus::-moz-focus-inner{border:none;}

.canm9xs[class][class]:-moz-focusring{outline:none;}

.dir.canm9xs[class][class]:focus-visible{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px #ffffff,0 0 0 4px var(--f-k-smk-x),0 0 0 5px rgba(255,255,255,0.5);}

@media (prefers-reduced-motion:reduce){
.dir.canm9xs[class][class]:focus-visible{transition:none;}}

.dir.canm9xs[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s var(--itr-yy-z);box-shadow:0 0 0 2px #ffffff,0 0 0 4px var(--f-k-smk-x),0 0 0 5px rgba(255,255,255,0.5);}

@media (prefers-reduced-motion:reduce){
.dir.canm9xs[class][class]:focus[data-focus-visible-added]{transition:none;}}

.c1i6tylb[class][class]{background-color:black;border-color:black;}

.dir.c1i6tylb[class][class]{background-color:var(--f-k-smk-x);border-color:var(--f-k-smk-x);}

.dir.c1i6tylb[class][class]:disabled{background-color:var(--j-qkgmf);border-color:var(--j-qkgmf);}

.dir.c1i6tylb[class][class]:disabled > div{border-color:var(--j-qkgmf);}

.cczfeks[class][class]{background-color:darkgrey;border-color:darkgrey;}

.dir.cczfeks[class][class]{background-color:var(--iw-ihca);border-color:var(--iw-ihca);}

.dir.cczfeks[class][class]:hover:not([disabled]){background-color:var(--fo-jk-r-s);border-color:var(--fo-jk-r-s);}

.dir.cczfeks[class][class]:hover:not([disabled]) > div{border-color:var(--fo-jk-r-s);}

.dir.cczfeks[class][class]:disabled{background-color:var(--d-nc-lt-s);border-color:var(--d-nc-lt-s);}

.dir.cczfeks[class][class]:disabled > div{border-color:var(--d-nc-lt-s);}

.s195dsor[class][class]{background-color:white;border-width:1px;height:32px;position:absolute;top:-1px;width:32px;display:flex;align-items:center;justify-content:center;-webkit-transition:-webkit-transform 250ms var(--itr-yy-z);}

.dir.s195dsor[class][class]{border-radius:50%;border-style:solid;transform:translate3d(0,0,0);background-color:var(--f-mkcy-f);border-width:2px;transition:transform 250ms var(--itr-yy-z);}

.dir-ltr.s195dsor[class][class]{left:-1px;}

.dir-rtl.s195dsor[class][class]{right:-1px;}

@media (prefers-reduced-motion:reduce){
.dir.s195dsor[class][class]{transition:none;}}

.s195dsor[class][class]:disabled{color:var(--j-qkgmf);}

.dir.s195dsor[class][class]:disabled{border-color:var(--j-qkgmf);}

.sl9yi1h[class][class]{border-color:black;color:var(--f-k-smk-x);}

.dir.sl9yi1h[class][class]{border-color:var(--f-k-smk-x);}

.dir-ltr.sl9yi1h[class][class]{transform:translate3d(16px,0,0);}

.dir-rtl.sl9yi1h[class][class]{transform:translate3d(-16px,0,0);}

.slxkbsd[class][class]{border-color:darkgrey;}

.dir.slxkbsd[class][class]{border-color:var(--iw-ihca);}

.sts2dka[class][class]{color:lightgrey;}

.dir.sts2dka[class][class]{border-color:lightgrey;}
